{% extends 'base.html' %}
{% block first_text %}

                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            {{ post.title }}
                        </h2>
                        <h3 class="post-subtitle">
                           {{ post.text }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="#"> {{ post.author }}</a>
                        {{ post.created_date }}</p>
                </div>
                <hr>

{% endblock %}